html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  padding: 5rem;
  display: flex;
}

h1 {
  font-size: 24px;
}

.js, .jquery, .tisch_js {
  margin: 2rem;
  padding: 5rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: .5rem .5rem 1rem gray;
  background-color: white;
}

.js {
  background-color: rgb(212, 223, 238);
}

.tisch_js {
  background-color: rgb(255, 234, 244);
}
